{% extends 'budget/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="container">

    <section class="section section-stats">
        <div class="row">
            {% if project.completed %}
            <a onclick="markComplete(this)" data-id="{{ project.id }}" class="btn waves-effect right project-complete">
                <i class="material-icons white-text left">check</i>Project Completed!
            </a>
            {% else %}
            <a onclick="markComplete(this)" data-id="{{ project.id }}"
                class="btn waves-effect right project-btn">
                <i class="material-icons white-text left">edit</i>
                Mark Complete
            </a>
            {% endif %}
        </div>
        <div class="row">
            <h3>{{ project.name }}</h3>
            <h5>Client: {{ project.client }}</h5>
            <h5>Due Date: {{ project.due_date }}</h5>
            <hr>
            <div class="col s12 m12 l4 budget-card">
                <div class="card-panel">
                    <h6 class="bold">Total Budget</h6>
                    <h4 class="bold">${{ project.budget|floatformat:2|intcomma }}</h4>
                </div>
            </div>

            <div class="col s12 m6 l4 card-left">
                <div class="card-panel">
                    <h6 class="bold">Budget Left</h6>
                    {% if project.budget_left > 0 %}
                    <h4 class="bold green-text">${{ project.budget_left|floatformat:2|intcomma }}</h4>
                    {% elif project.budget_left == 0 %}
                    <h4 class="bold orange-text">${{ project.budget_left|floatformat:2|intcomma }}</h4>
                    {% else %}
                    <h4 class="bold red-text">${{ project.budget_left|floatformat:2|intcomma }}</h4>
                    {% endif %}
                </div>
            </div>

            <div class="col s12 m6 l4 card-right">
                <div class="card-panel">
                    <h6 class="bold">Total Transactions</h6>
                    <h4 class="bold">{{ project.total_transactions }}</h4>
                </div>
            </div>

        </div>
    </section>

    <section class="section section-expenses">
        <div class="row">
            <a class="btn waves-effect right modal-trigger project-btn green" href="#expenseModal">
                <i class="material-icons white-text left">add</i>
                Add Expense
            </a>
        </div>

        <ul class="z-depth-1">
            <li>
                <div class="card-panel z-depth-0 expense">
                    <div class="row title-row">
                        <div class="col l6">
                            <span class="title bold">Expense</span>
                        </div>

                        <div class="col l3">
                            <span class="title bold">Cost</span>
                        </div>

                        <div class="col l">
                            <span class="title bold">Category</span>
                        </div>

                    </div>
                </div>
            </li>
            {% for expense in expense_list %}
            <li>
                <div class="card-panel z-depth-0 expense">
                    <div class="row">
                        <div class="col l6">
                            <span class="title">{{ expense.title }}</span>
                        </div>

                        <div class="col l3">
                            <span class="title">${{ expense.amount|floatformat:2|intcomma }}</span>
                        </div>

                        <div class="col l">
                            <span class="title">{{ expense.category.name }}</span>
                        </div>

                        <a class="close-icon" onclick="deleteExpense(this)" data-id="{{ expense.id }}">
                            <i class="material-icons red-text right">delete</i>
                        </a>
                    </div>
                </div>
            </li>
            {% empty %}
            <li>
                <div class="card-panel z-depth-0 expense">
                    <div class="row">
                        <div class="col l6">
                            <span class="title">Add expenses to begin tracking project costs.</span>
                        </div>

                    </div>
                </div>
            </li>
            {% endfor %}

        </ul>
    </section>
</div>


<div id="expenseModal" class="modal">
    <div class="modal-content">
        <h4>Add New Expense</h4>

        <form method="POST">
            {% csrf_token %}
            <label for="title">Title</label>
            <input name="title" id="title">

            <label for="amount">Amount</label>
            <input name="amount" id="amount">

            <label for="category">Category</label>
            <select class="browser-default" name="category">
                {% for category in category_list %}
                <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
            </select>

            <button type="submit" class="btn">Add</button>
        </form>

    </div>
</div>

<script>
    var elem = document.querySelector('.modal');
    var instance = M.Modal.init(elem);

    var elem = document.querySelector('.select');
    var instance = M.FormSelect.init(elem);

    function deleteExpense(e) {

        let id = e.dataset.id
        e.closest('li').remove();

        fetch('', {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'id': id
            }),
            credentials: 'same-origin',
        })
    }

    function markComplete(e) {

        let id = e.dataset.id
        fetch('', {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'project_id': id
            }),
            credentials: 'same-origin',
        }).then(response => {
            location.reload();
        })

    }
</script>

{% endblock %}