{% extends 'budget/base.html' %}
{% load humanize %}
{% load budget_extras %}

{% block content %}

<div class="container">
    <h2></h2>
    <hr>
    <div class="row">
        {% for project in project_list %}

        <div class="col sm12 l3">
            <div class="card-panel">
                <h5>{{ project.name }}</h5>
                <ul>
                    {% if project.client %}
                    <li class="project-card">Client: {{ project.client }}</li>
                    {% else %}
                    {% endif %}
                    <li class="project-card">Budget: ${{ project.budget|floatformat:2|intcomma }}</li>

                    {% if project.due_date|days_until < 15 %}
                    <li class="project-card red-text bold">DUE IN {{ project.due_date|days_until }} DAYS:
                        {{ project.due_date }}</li>
                    {% elif project.due_date|days_until < 0 %}
                    <li class="project-card">Due Date: {{ project.due_date }} (PAST DUE)</li>
                    {% elif project.completed %}
                    <li class="project-card green-text bold">COMPLETED!<i class="material-icons">check</i></li>
                    {%else %}
                    <li class="project-card">Due Date: {{ project.due_date }}</li>

                    {% endif %}
                </ul>

                <a href="{% url 'detail' project.slug %}" class="waves-effect waves-light btn project-btn"><i
                        class="material-icons left">link</i>Details</a>
            </div>
        </div>
        {% empty %}

        <div class="noproject-wrapper center">
            <h3 class="grey-text">Sorry, you don't have any projects, yet.</h3>
            <a href="" class="btn-large grey">
                <i class="material-icons white-text left">add_circle</i>
                <span class="bold">Add Project</span>
            </a>
        </div>

        {% endfor %}
    </div>


</div>

{% endblock %}