@import url('https://fonts.googleapis.com/css?family=Oswald');


/* General */
* {
    font-family: 'Oswald', Arial, sans-serif;
}

html {
    background-color: #E0E0E0;
}

.bold {
    font-weight: bold;
}

.row {
    margin: 0 !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

#logo {
    margin-left: 15px;
}

nav, footer, button, .project-btn {
    background-color: #0068ad !important;
}

.page-footer {
    padding-top: 0 !important;
}
/* Project List (no projects) */

.noproject-wrapper {
    margin-top: 250px;
    padding: 80px 0px;
    border: 6px solid #9e9e9e;
    border-style: dashed;
}

.noproject-wrapper h3 {
    padding: 10px;
    margin-bottom: 50px;
}

.project-card {
    font-size: 17px;
}

.project-add {
    margin: 25px 15px 10px 10px;
}

/* Project Detail Statistics */
.project-complete {
    background-color: #4CAF50 !important;
}

.section-stats h1 {
    font-size: 4vw;
    margin: 15px 0px;
}

@media(max-width: 992px) {
    .section-stats h1 {
        font-size: calc(16px + 6vw);
    }
}

.budget-card {
    padding: 0px !important;
}

.card-left {
    padding-left: 0px !important;
}

.card-right {
    padding-right: 0px !important;
}

.browser-default {
    margin-bottom: 25px;
}

 /* Project Add View */
 form ul li.category {
     display: inline-block;
     background-color: white;
     padding: 5px 10px;
     margin-right: 5px;
 }

 .project-form {
    margin: 50px;
 }

 .project-form button {
     background-color: #4CAF50 !important;
 }

 .btn-custom {
    font-family: 'Oswald', Arial, sans-serif !important;
}

/* Project Detail Expenses */
.section-expenses {
    margin-bottom: 150px;
}

.section-expenses button {
    padding: 0px 40px;
    font-weight: bold;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    background-color: #1797ff;
}

.section-expenses .expense {
    font-size: 16px;
    border-radius: 0;
    margin: 0;
}

.title-row {
    font-size: 20px;
}

li:not(:first-child) {
    color: rgb(99, 99, 99);
}
li:not(:first-child) .expense:hover  {
    background-color: #ccc !important;
}

.section-expenses .expense .category {
    font-size: 13px;
}

.section-expenses li:nth-child(even) .expense {
    background-color: #E0E0E0;
}

.section-expenses .close-icon:hover {
    cursor: pointer;
}